@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  background: #202124;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #7fbbf9;
  box-shadow: 0 5px 10px rgba(2, 7, 32, 0.226);
}

.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(2, 7, 32, 0.226);
}

.music-player h1 {
  font-size: 40px;
  font-weight: 400;
  color: #245588;
  margin-top: 20px;
  font-family: 'Metal Mania', system-ui;
}

.music-player p {
  font-size: 20px;
  color: #245588;
  font-family: 'Metal Mania', system-ui;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #245588;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #245588;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(2, 7, 32, 0.226);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #245588;
  box-shadow: 0 10px 20px rgba(2, 7, 32, 0.226);
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #245588;
  color: #fff;
}

#volume-container {
  display: flex;
  align-items: center;
}

#volume-icon {
  margin-right: 5px;
  color: #fff;
}

/* #volume-slider {
  width: 100%;
} */

#volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #245588;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #245588;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(2, 7, 32, 0.226);
}
